# Not to use Zero-Installs
.pnp.*
.yarn/*

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

web/.next
web/.next/*

.env
.env.local
.env.production

.parcel-cache

dist/

web/public/features/controls/index.js
web/public/features/controls/index.css

.playwright-mcp/
.vscode/
web/test-results/
web/tsconfig.tsbuildinfo
.claude/
