@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "@ar-framework/ui/dist/index.css";

* {
  touch-action: manipulation;
  user-select: none;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.marker {
  width: 14px;
  height: 14px;

  background-color: white;
  border: 3px solid red;

  border-radius: 50%;
}

.marker.origin {
  border: 3px solid blue;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-icon,
.mapboxgl-ctrl-attrib-button {
  display: none !important;
}
