video {
  width: 100vw !important;

  position: fixed;
  left: 0 !important;
  bottom: 0;

  transform: scale(-1, 1) !important;

  object-fit: cover;
}

.mindar-ui-scanning {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 100 !important;

  width: 80vw !important;
  height: 80vw !important;

  display: none !important;
}
