MEMEX_TOKEN=YOUR_MEMEX_TOKEN
MEMEX_PROJECT_ID=YOUR_MEMEX_PROJECT_ID
MAPBOX_TOKEN=YOUR_MAPBOX_TOKEN
NEXT_URL=YOUR_NEXT_URL ## DO NOT INCLUDE A TRAILING SLASH!
DATABASE_URL=YOUR_NEON_DATABASE_URL
NEXT_PUBLIC_ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME
